/*=============== GOOGLE FONTS ===============*/
@font-face {
    font-family: 'Poppins';
    src: url(/font/Poppins-Regular.ttf);
}

  
/*=============== BASE ===============*/
*{

    font-family: 'Poppins', sans-serif;
}
  
html{
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(90deg, rgba(233, 233, 233, 1));
}
.error{
    color: indianred;
    background-color: #fde8ec;
    padding: 10px;
    bottom: 10px;
    display: none;
    transform: translateY(-20px);
    font-size: 14px;
}
.success{
    margin-bottom: 30px;
    color: limegreen;
    background-color: #fde8ec;
    padding: 10px;
}